* { box-sizing: border-box;}
header{
	background-color: #f8500f;
	overflow: hidden;
	height: 50px;
}

header ul li{
	display: inline;
	margin-right: 20px;
}

header ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

header .logo{
	float: left;
	height: 50px;
	padding: 5px;
	margin-left: 10px;
}

header .menu{
	float: left;
}

header .registro{
	float: right;
}
body {
  width: 1140px;
    background-image: url("fondo.png");
}
.boton {
  text-decoration: none;
    padding: 10px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 70;
    font-size: 15px;
    color: white;
    background-color: blue;

}
main {
float: center;
  overflow: hidden;
  width:350px;
}

