* { box-sizing: border-box;}
.productos article {
  float: left;
  width: 380px;
  margin-left: 10px;
  height: 350px;
  background: orange;
  margin-bottom: 20px;
}
.productos {
  width: 800px;
}
.titlea {
  width: 320px;
  background-color: white;
  margin-bottom: 5px;
  margin-top: -10px;
  font-family: 'Raleway', sans-serif;
}

.tutorials {
  width: 320px;
  background-color: white;
}

.tutoriales {
  margin-bottom: 10px;
  background-color: white;
  float: right;
}

.tutoriales p {
  float: right;
}

header{
	background-color: #f8500f;
	overflow: hidden;
	height: 50px;
}

header ul li{
	display: inline;
	margin-right: 20px;
}

header ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

header .logo{
	float: left;
	height: 50px;
	padding: 5px;
	margin-left: 10px;
}

header .menu{
	float: left;
}

header .registro{
	float: right;
}
body {
  width: 1140px;
  background-image: url("fondo.png");
}

.publicidadestitulo {
  font-weight: bold;
  border: 3px;
  border: solid;
  background-color: grey;
  float: right;
  height: 30px;
  width: 50px;
}
h2{
  font-weight: bold;
}


.boton_personalizado {
  text-decoration: none;
    padding: 10px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 50;
    font-size: 15px;
    color: white;
    background-color: #9b0e0e;

}
